<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">

<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="stylesheet" href="/css/all.css">
        <!-- flickity CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <style>
      #blog-banner{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(<%=foundBlog.blogPhoto%>);
		background-size: cover;
        height: 500px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
      }
      ul.info li{
        color: antiquewhite;
      }
      .read-next-card{
        box-shadow: 0 5px 20px rgba(0, 0, 0, .5);
        padding: 10px;
        border-radius: 10px;
      }
      
  </style>
    <title><%=title%></title>
</head>
<body>
<div class="container">
  <div class="logo-container">
  		<a href="/"><img class="img-fluid" src="/assets/icons/logo.png" alt="logo goes here" ></a>
</div>
<hr>
<nav style="overflow: hidden;" class=" navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""><i class="fas fa-hamburger"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul  class=" mb-lg-0">
          <li class="">
            <a class=" active" aria-current="page" href="/">
              <img src="/images/notebook.png" alt="">
            </span>&nbsp;Home</a>
          </li>
          <li class="">
            <a class="" href="/blog/page=1"> <img src="/images/poem.png" alt="">Blog</a>
          </li>
          <li class="">
            <a class="" href="#"><img src="/images/user.png" alt=""> About</a>
          </li>
          <li class="">
            <a class="" href="#"><img src="/images/message.png" alt=""></span>&nbsp;Contact</a>
          </li>
          <li class="socials">
            <ul>
              <li class="social-icons"><span><i class="fab fa-instagram"></i></span></li>
              <li class="social-icons"><span><i class="fab fa-pinterest"></i></span></li>
              <li class="social-icons"><span><i class="fab fa-facebook"></i></span></li>
          </ul>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
  
<div id="blog-banner" class=" container-fluid" style="height: 500px; margin-bottom: 4rem;">
    <div style="align-self: center; color: whitesmoke;">
    <h1 class="text-center display-3 pb-3"><%=foundBlog.title%></h1>
    <ul class="info">
        <li style="color: antiquewhite;"><i class="far fa-calendar-alt"></i>&nbsp;<%=foundBlog.createdAt%></li>
        <li><i class="fas fa-pen-fancy"></i>&nbsp;By ikram m.</li>
        <li><i class="far fa-clock"></i>&nbsp;read time :2 minutes </li>
      </ul>
    </div>
</div>
<!--the blog body =====>>>>>>-->
<div class="row">
    <!--content-->
    <div class="col-md-9">
        <p><%-foundBlog.blogBody%></p>
      </div>
    
    <div class="col-md-3">
        <h3 class="headers">About me</h3>
        <div class="my-profile">
          <img class="img-fluid" src="/assets/images/mw.jpg" alt="">
                <div class="my-profile-body text-center">
                    <h5 >Hey there!</h5>
                    <p>a Passionate writer and an enthusiastic Computer Science Student. Althea Blog is created and owned by ... </p>
                <a href="#about-me" class="btn">More &nbsp;&nbsp;<i class="fas fa-chevron-down"></i></a>
            </div>
          
        </div>
        <div class="" style="padding:20px; display: flex; flex-direction: column; align-content: center;">
            <h5 class="headers">Enjoy My writings? </h5>
            <div style="align-self: center; padding: 10px;"><img src="/assets/icons/quill.png" alt="" class="img-fluid"></div>
            
            <p style="text-align: center;">interested in discovering all my newest and recent short stories? Then here's my wattpad profile!</p>
           <a href="https://www.wattpad.com/user/dreamyaltheda" target="_blank" class="btn">Follow me <img src="/assets/icons/wattpad.png"></a>
        </div>
    </div>
</div>
<!--xxxLeave a commment ====>> -->

<!--xxxLeave a commment ====>> -->

<!--Read next ==== >> -->
<div style="margin: 4rem 0rem;" class="row">
  <h2 class="my-4 text-center">Read Next ...</h2>
  <div class="col-sm-6">
    <div class="read-next-card  ">
      <div style="display: flex; padding: .2rem;" 
      class="read-next-card-upper">
        <div class="read-next-image" style="overflow: hidden;">
          <img class="img-fluid" src="<%=related2.blogPhoto%>" alt="">
        </div>
        <div class="read-next-body" style="font-size: 15px; padding: .5rem;">
          <h3 class="text-center"><%=related2.title%></h3>
          <p><%=related2.postSummary%></p>
        </div>
      </div>
    
    <div style="display: flex; flex-direction: column; justify-content: center;">
      <a href="/blog/<%=related2.id%>" class=" btn btn-lg btn-block">Read ...</a>
    </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="read-next-card  ">
      <div style="display: flex; padding: .2rem;" 
      class="read-next-card-upper">
        <div class="read-next-image" style="overflow: hidden;">
          <img class="img-fluid" src="<%=related1.blogPhoto%>" alt="">
        </div>
        <div class="read-next-body" style="font-size: 15px; padding: .5rem;">
          <h3 class="text-center"><%=related1.title%></h3>
          <p><%=related1.postSummary%></p>
        </div>
      </div>
    
    <div style="display: flex; flex-direction: column; justify-content: center;">
      <a href="/blog/<%=related1.id%>" class="btn btn-lg btn-block">Read ...</a>
    </div>
    </div>
  </div>
</div>
<!--Read next ==== >> -->





</div> <!--end of container-->






      <!--THE FOOTER SECTRION ============>>>>> -->
<!--THE FOOTER SECTRION ============>>>>> -->
<footer>
  <div class="container">
    <div class="logo-container">
      <img src="/images/logo-night.png" class="img-fluid" alt="">
    </div>
      <div class="row">
          <div id="about-me" class="col-md-4 mb-4">
              <h5 class="footer-header">About Me</h5>
              p>My name is Ikram M. a Passionate writer and an enthusiastic Computer Science Student. Althea Blog is created and owned by me which is my first step into sharing my voice with the world through the power of words and digital communication ...</p>
				<img class="img-fluid" src="/assets/images/mw.jpg">
          </div>
          <div class="col-md-4 mb-4">
              <h4 class="footer-header">find Me on on <i style="font-size: 32px;" class="fab fa-pinterest"></i></span></h4>
              <a class="px-3" data-pin-do="embedUser" data-pin-board-width="350" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/iam_dreamy/boards/"></a>
          </div>
          <div class="col-md-4 mt-sm">
            <h5 class="footer-header">Contact me</h5>
            <ul style="display: flex; flex-direction: column; align-items: center;">
            
              <li><a href="https://www.facebook.com/Sombre.huh" target="_blank"><img src="/images/facebook.png" alt="">&nbsp;Facebook</a></li>
              <li><a href="https://open.spotify.com/user/7x7n2654gf9ftowgt4lc22adk?si=QO3Q7lXhSYe0Eum24-IsJg" target="_blank"><img src="/images/spotify.png" alt="">&nbsp;Spotify</a></li>
              <li><a href="https://www.instagram.com/dream_.y/" target="_blank"><img src="/images/instagram.png" alt="">&nbsp;instagram</a></li>

            </ul>
          </div>
      </div>
      <div class="up-icon ">
        <a href="#blog-banner"><i class="fas fa-arrow-up"></i></a>
      </div>
  </div>
  <div class="rights container-fluid">
    <h6>| Copyrights @2020 All rights reserved | made by <cite>Dreamy Altheda</cite></h6>
  </div>
</footer>

<script src="/js/jquery3.5.1.min.js"></script>
<script>
	
	$("img").addClass("img-fluid")
</script>
<!--Pinterest Javascript-->
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
<!-- flickity JavaScript -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="/js/app.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>